#web framework
fastapi==0.111.0
uvicorn[standard]==0.29.0

#database
sqlalchemy==2.0.30
alembic==1.13.1
psycopg2-binary==2.9.9

#auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9

#validation/setings
pydantic==2.7.1
pydantic-settings==2.2.1
email-validator==2.1.1

#background tasks
celery==5.4.0
redis==5.0.4
flower==2.0.1     

#video
yt-dlp==2024.5.27
pydub==0.25.1

#nlp
spacy==3.7.4
transformers==4.36.2
torch==2.3.0
sentencepiece==0.2.0

#http client (для вызова микросервиса)
aiohttp==3.9.5
httpx==0.27.0

#utils
python-dotenv==1.0.1
aiofiles==23.2.1
Pillow==10.3.0